{% extends 'master.html' %}
{% load static %}

{%  block title %} Справочник сотрудников {% endblock %}

{% block extra_css %}
{#    <link rel="stylesheet" href="{% static 'plugins/datatables/jquery.dataTables.min.css' %}">#}
     <link rel="stylesheet" href="{% static 'plugins/datatables/dataTables.bootstrap.css' %}">
{% endblock %}

{% block page_title %} Справочник сотрудников {% endblock %}

{% block content %}



       <div class="box box-primary">
        <div class="box-body">
            <div class="table-responsive">
            <table id="datatable" class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>Фамилия</th>
            <th>Имя</th>
            <th>Отчество</th>
            <th>Отдел</th>
            <th>Электронная почта</th>
            <th>Мобильный телефон</th>
            <th>Внутренний телефон</th>
            <th>Дата рождения</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.last_name }}</td>
            <td>{{ user.first_name }}</td>
            <td>{{ user.profile.patronymic }}</td>
            <td>{{ user.profile.department.name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.profile.mobile_phone }}</td>
            <td>{{ user.profile.work_phone }}</td>
            <td>{{ user.profile.birthday|date:'d.m.Y' }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
            </div>

        </div><!-- /.box-body -->
    <div class="box-footer">
    <a href="{% url "blog:index" %}">На главную</a>
    </div>
      </div><!-- /.box -->
{% endblock %}



{% block extra_javasctipt %}
    <script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/dataTables.bootstrap.min.js' %}"></script>
<script>

  $(function () {
    $('#datatable').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": true,
      "ordering": true,
      "info": true,
      "autoWidth": false
    });
  });

</script>

{% endblock %}
